[Unit]
Description=JiuwenSwarm Service
After=network.target

[Service]
User=root
WorkingDirectory=/opt/jiuwenswarm-env/jiuwenswarm
Environment="PATH=/opt/jiuwenswarm-env/bin"
ExecStart=/opt/jiuwenswarm-env/bin/python -m jiuwenswarm
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
