key,value
# GES服务配置
graph_ip,100.95.xxx.xxx
graph_port,80
project_id,your_project_id
graph_name,your_graph_name
graph_id,your_graph_id

# IAM认证配置
iam_url,https://iam.cn-north-4.myhuaweicloud.com/v3/auth/tokens
region,cn-north-7
# AKSK/用户名密码认证 二选一
# AKSK认证
access_key,your_access_key
secret_key,your_secret_key
# 用户名密码认证
username,your_username
password,your_password
domain_name,your_domain_name


